@import "../../../styles/global.scss";

#mainSection {
    display: flex;
}

section#tourFormSection {
    width: 30%;
}

.tourFormLoadingElement {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 30%;
    left: 20%;
    display: none;
}