@import '../../../styles/global.scss';


.hidden {
    display: none !important; /* Sakriva element */
}
.form-container {
    margin: 20px 0;
}

.form-container {
    margin: 20px 0;
    display: flex; /* Aktivira Flexbox */
    flex-direction: column;
    align-items: center; /* Centriranje dugmadi po horizontali */
    gap: 20px; /* Razmak između dugmadi */

    button {
        flex-direction: row;
        cursor: pointer;
        margin: 20px;
        padding: 40px;
        width: 20%;
        background-color: #00b7ff;
        border: 1px solid #00b7ff;
        color: white;
    }

    #dodajForm {
        width:50%; /* Širina forme */
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        display: flex; /* Aktivira Flexbox */
        flex-direction: column; /* Postavlja elemente u kolonu */
        align-items: center; /* Centriranje elemenata po horizontali */
            input {
                width: 50%;
                margin: 10px;
                padding: 10px;
                border: 1px solid #00b7ff;
                border-radius: 20px;
            }

            #Status {
                width: 50%;
                margin: 10px;
                padding: 10px;
                border: 1px solid #00b7ff;
                border-radius: 20px;
            }

        button {
            width: 30%;
            height: auto;
            
        }
    }}