@import '../../../styles/global.scss';


#restoran-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;

    .restoran-card {
        width: 500px;
        border: 1px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        background-color: #fff;
        
        .restaurant-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        
        .restaurant-info {
            padding: 15px;

            h3 {
                margin: 10px 0;
                font-size: 18px;
            }

            p {
                margin: 5px 0;
                font-size: 14px;
            }

            .details {
                width: 60%;
                height: 40px;
                margin: 10px auto; 
                border: 1px solid $primary-color;
                background-color: $primary-color;
                color: #f4f4f9;
                text-align: center;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
            }

            .details:hover {
                background-color: #45a097;
                cursor: pointer;
            }
        }
    }
}
