@import "../../styles/tours.scss";

#main-section {
    display: flex;

    .tours-overview-section {

        table {
            width: 100%;
            border-collapse: collapse;

            th {
                border: 1px solid #ddd;
                padding: 0.5rem;
                text-align: left;
                background-color: $primary-color;
                color: white;
                width: 100px;
                min-width: fit-content;
            }

            td {
                border: 1px solid #ddd;
                padding: 0.5rem;
                text-align: left;

                button {
                    width: 100%;
                    height: 100%;
                    background-color: $primary-color;
                    color: white;
                    border: none;
                    padding: 5px 10px;
                    cursor: pointer;
                    border-radius: 5px;

                    &:hover {
                        background-color: $accent-color;
                    }
                }
            }

            tr:hover {
                background-color: #f1f1f1;
            }
        }
    }

    #tours-overview-rating-section {
        display: none;
        background-color: lightgray;
        height: fit-content;
        width: fit-content;

        #tours-overview-rating-template-handler {
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                display: flex;
                width: fit-content;
                align-items: center;
            }

            p {
                margin: 2%;
            }

            img {
                height: 50px;
                width: 300px;
            }

            textarea {
                margin: 2%;
                height: 60px;
                width: 300px;
            }
        }
    }
}