@import '../app/styles/global.scss';
body{
    height: 100vh;
}

.gastronomy-intro {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #fffaf3;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
  
    h2 {
      font-size: 2rem;
      color:$primary-color;
      text-align: center;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
  
    p {
      font-size: 1.1rem;
      line-height: 1.6;
      color: #333;
      text-align: justify;
    }
  }

  #map {
    height: 600px; /* ili 100vh */
    width: 100%;   /* po potrebi */
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
#login-button {
    display:flex;
}

#logout-button {
    display:none;
}

#restaurants-link {
    display:none;
}

#toursOverview-link {
    display:none;
}

#tours-lookup-link {
    display: none;
}

#restaurants-end-view {
    display:none;
}

#reservation-lookup-link{
    display: none;
}

#statistics-restaurant{
    display: none;
}