@import "../../../styles/global.scss";

#mainSection {
    display: flex;
}

#tourFormSection {
    width: 30%;
    height: 58vh;
    margin-right: 5px;
}

#tourFormMainButtonDiv {
    width: 100%;
    margin-bottom: 20px;

    button {
        width: 100%;
    }

    #tourFormPublishButtonElement {
        margin-top: 3%;
        background-color: gray;
    }
}

#keyPointOverviewSection {
    width: 70%;
    height: 95vh;
    display: none;
    flex-direction: column;
    border: 2px black solid;
    background-color: rgb(213, 208, 208);
    padding: 5px;
    flex-wrap: wrap;

    .keyPointOverviewDiv {
        display: flex;
        border: 2px black solid;
        height: 26vh;
        margin-bottom: 5px;
        width: 49%;

        .keyPointImageDiv {
            display: flex;
            align-items: center;
            width: 50%;

            .keyPointImageElement {
                height: 90%;
                padding-left: 10px;
            }
        }

        .keyPointInfoDiv {
            width: 60%;

            .keyPointLocationDiv {
                display: flex;
                flex-direction: row;

                div {
                    width: 45%;
                }
            }
        }

        .keyPointInputDiv {
            display: flex;
            width: 90%;

            input {
                width: 100%;
                padding: 8px;
                border-radius: 4px;
                font-size: 14px;
                margin-bottom: 2px;
                margin-top: 4px;
            }

            textarea {
                width: 100%;
                padding: 8px;
                border-radius: 4px;
                font-size: 14px;
                margin-bottom: 2px;
            }
        }

        .keyPointButtonDiv {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 70%;

            .deleteKeyPointButton {
                background-color: $cancel-color;
                width: 30%;
                margin-right: 30%;
                height: 30%;
            }

            .saveKeyPointButton {
                background-color: gray;
                width: 30%;
                height: 30%;
            }
        }
    }
}